:root {
  --text-primary: white;
  --bg-primary: black;
}

.navbar {
  width: 100%;
  height: 6rem;
  background-color: rgba(0, 0,0, 0.7);
  backdrop-filter: blur(5rem);
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.linkContainer {
  height: 100%;
}

.image {
  height: 100%;
}

.hidden {
  height: 0;
  width: 0;
  visibility: hidden;
}

.inline {
  display: flex;
  gap: 10px;
}

ul {
  list-style-type: none;
}

.Page {
  width: 80%;
  height: 100%;
  padding: 10% 10% 0;
  flex: 0 1 auto;
}

.UserList {
  height: 15vh;
  min-height: 300px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  overflow-y: scroll;
}

.Chat {
  height: 50vh;
  display: flex;
  flex-direction: column-reverse;
}

.ChatInput {
  width: 100%;
  height: 2rem;
  border: none;
  padding: 0;
  margin: 0;
}

.ChatLog {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5rem);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  border: 2px solid red;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

p {
  color: var(--text-primary);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.background-rainbow {
  background: no-repeat url("https://picsum.photos/1920/1080") !important;
  background-size: cover !important;
  animation:bg-change 10s infinite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
